*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

cdk.context.json

# Lambda function layer source files
lambda_layer/*/python/
lambda_layer/*/*.zip

.vscode/